<div class="span3">
  <%= search_form_for @search do |sf| %>
      <h2>Search</h2>
      <%= sf.condition_fields do |c| %>
          <%= render 'condition_fields', f: c %>
      <% end %>
      <%= link_to_add_fields 'Add Conditions', sf, :condition %>

      <h2>Sort</h2>
      <%= sf.sort_fields do |s| %>
          <%= s.sort_select %>
      <% end %>

      <div class="actions"><%= sf.submit %></div>
  <% end %>
</div>