<%= form_for(@person) do |f| %>
    <% if @person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tbody>
      <tr class="field">
        <td><%= f.label :contact_id, 'Company' %></td>
        <td><%= f.collection_select :contact_id, EngineCrm::Company.select('id, name'), :id, :name, include_blank: true %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :notes %></td>
        <td><%= f.text_area :notes %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :address %></td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :state %></td>
        <td><%= f.text_field :state %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :zip %></td>
        <td><%= f.text_field :zip %></td>
      </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
