<div class="span9">
  <h1>Contacts</h1>

  <%= link_to 'New Contact', new_person_path %>
  <table>
    <thead>
    <tr>
      <th><%= sort_link @search, :name, 'Name' %></th>
      <th>Company</th>
      <th><%= sort_link @search, :phone, 'Phone' %></th>
      <th>Email</th>
      <th><%= sort_link @search, :address, 'Address' %></th>
      <th><%= sort_link @search, :city, 'City' %></th>
      <th><%= sort_link @search, :state, 'State' %></th>
    </tr>
    </thead>
    <tbody>
    <% @people.each do |person| %>
        <tr>
          <td><%= link_to person.name, person_path(person) %></td>
          <td><%= link_to person.contact.name, person.contact %></td>
          <td><%= person.phone %></td>
          <td><%= mail_to person.email %></td>
          <td><%= simple_format(person.address) %></td>
          <td><%= person.city %></td>
          <td><%= person.state %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'engine_crm/shared/search' %>
