<p id="notice"><%= notice %></p>

<h1><%= @person.name %></h1>

<table>
  <tbody>
  <tr>
    <td>Notes:</td>
    <td><%= @person.notes %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= @person.phone %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= mail_to @person.email %></td>
  </tr>
  <tr>
    <td>Address:</td>
    <td><%= @person.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @person.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @person.state %></td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td><%= @person.zip %></td>
  </tr>
  <% @person.custom.reject {|c| EngineCrm::Person::CUSTOM_ATTRS.include? c}.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', :back %>
