<div class="span9">
  <h1>Companies</h1>

  <%= link_to 'New Company', new_company_path %>
  <table>
    <thead>
      <tr>
        <th><%= sort_link @search, :name, 'Company Name' %></th>
        <th><%= sort_link @search, :address, 'Address' %></th>
        <th><%= sort_link @search, :city, 'City' %></th>
        <th><%= sort_link @search, :state, 'State' %></th>
        <th><%= sort_link @search, :phone, 'Phone' %></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= simple_format(company.address) %></td>
          <td><%= company.city %></td>
          <td><%= company.state %></td>
          <td><%= company.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'engine_crm/shared/search' %>
