<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>

<div class="span6">
  <table>
    <tbody>
    <tr>
      <td>Notes:</td>
      <td><%= @company.notes %></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= @company.phone %></td>
    </tr>
    <tr>
      <td>Website:</td>
      <td><%= @company.website %></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= @company.address %></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= @company.city %></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= @company.state %></td>
    </tr>
    <tr>
      <td>Zip:</td>
      <td><%= @company.zip %></td>
    </tr>
    <% @company.custom.reject { |c| EngineCrm::Company::CUSTOM_ATTRS.include? c }.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <h3>Contacts</h3>
  <%= link_to 'New Contact', new_person_path(company_id: @company.id) %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @company.contacts.each do |contact| %>
        <tr>
          <td><%= link_to contact.name, person_path(contact) %></td>
          <td><%= number_to_phone contact.phone %></td>
          <td><%= mail_to contact.email, contact.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="span6">
  <h3>Communications</h3>
  <%= link_to 'New Communication', new_company_communication_path(@company) %>
  <table>
    <tbody>
        <% @company.communications.each do |comm| %>
            <tr>
              <td><%= comm.timestamp %></td>
              <td><%= comm.person.name %></td>
              <td><%= comm.details %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', :back %>
