<%= form_for(@communication) do |f| %>
    <% if @communication.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@communication.errors.count, "error") %> prohibited this communication from being
            saved:</h2>

          <ul>
            <% @communication.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tbody>
      <tr class="field">
        <td><%= f.label :company %></td>
        <td><%= f.collection_select :company, EngineCrm::Company.select('id, name').all, :id, :name, include_blank: !@communication.company, disabled: params[:company_id] %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :details %></td>
        <td><%= f.text_area :details %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :timestamp %></td>
        <td><%= f.datetime_select :timestamp, ampm: true, minute_step: 10 %></td>
      </tr>
      <tr field="field">
        <td><%= f.label :enable_reminder %></td>
        <td><%= f.check_box :enable_reminder %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :reminder_text %></td>
        <td><%= f.text_area :reminder_text %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :reminder_timestamp %></td>
        <td><%= f.datetime_select :reminder_timestamp, ampm: true, default: 1.week.from_now, minute_step: 10 %></td>
      </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
