<div class="span9">
  <h1>Communications</h1>

  <%= link_to 'New Communication', new_communication_path %>
  <table>
    <thead>
    <tr>
      <th>Company</th>
      <th><%= sort_link @search, :timestamp, 'Timestamp' %></th>
      <th>with Contact</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <% @communications.each do |communication| %>
        <tr>
          <td><%= link_to communication.company.name, communication.company %></td>
          <td><%= communication.timestamp %></td>
          <td><%= link_to communication.person.name, communication.person if communication.person %></td>
          <td><%= communication.details %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render 'engine_crm/shared/search' %>
